/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# File besar >100MB (dikecualikan dari GitHub)
/zivoffcE
/public/pdf/IPAS_kelas5.pdf
/public/pdf/test.pdf

# Dokumen (dikecualikan dari repo)
*.pdf
*.xls
*.xlsx
